:root {
    --black: #000000;
    --black1: #252525;

    --grayDark: #333333;
    --grayDark1: #6e6e73;
    --grayDark2: #1D1D1F;

    --grayLight: #d6d6d6;
    --grayLight1: #f5f5f7;
    --grayLight2: #424245;
    
    --white: #ffffff;

    --blueDark: #06c;
    --blueLight: #2997ff;
    --red: #d03338;
    --green: #a6ff00;

}