footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background: var(--grayLight1);
  margin: 20px 0 0 0;

  .footer__wrapper {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 10px;

    letter-spacing: -0.01em;
    color: var(--grayDark1);

    .wrapper__text {
      border-bottom: 1.2px solid var(--grayLight);
      p {
        font: 400 13.5px/1.33337 Roboto;
        padding-bottom: 0.8em;
      }
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

.low__footer {
  width: 100%;
  padding: 25px 0;

  & > :nth-child(2) {
    border-bottom: 1.2px solid var(--grayLight);
    padding-bottom: 8px;
  }

  & > :nth-child(3) {
    padding-top: 8px;
  }

  .legal__links ul {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding-top: 8px;

    li a {
      color: var(--grayDark1);
      &:hover {
        text-decoration: underline;
      }
    }

    li:not(:last-child) {
      border-right: 1px solid var(--grayLight);
      padding-right: 20px;
    }
  }

  p {
    color: var(--grayDark1);
    span {
      color: var(--blueLight);
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
