@media screen and (max-width: 768px) {
  
  ::-webkit-scrollbar {
    width: 0px;
  }
  
  header {
    .navbar__desktop {
      display: none;
    }

    .navbar__mobile {
      display: flex;
    }
  }

  .section4 {
    margin: 0 5px;
    grid-template-columns: 12fr;
    grid-template-rows: 1fr;
  }
}
