@media screen and (max-width: 833px) {
  ::-webkit-scrollbar {
    width: 0;
  }

  header {
    .navbar__desktop {
      display: none;
    }

    .navbar__mobile {
      display: flex;
    }
  }

  footer {
    .footer__desktop {
      display: none;
    }

    .footer__mobile {
      display: flex;
    }
  }
}

@media screen and (max-width: 734px) {
  ::-webkit-scrollbar {
    width: 0px;
  }

  .section4 {
    margin: 0 5px;
    grid-template-columns: 12fr;
    grid-template-rows: 1fr;
  }
}
