.section4 {
  margin: 0 10px;
  height: 100%;
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 14px;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;

  & > :nth-child(1) {
    &::before {
      content: "";
      width: 100%;
      height: 120px;
    }

    h2 {
      color: var(--black1);
      font: 500 4.2em/1.21053 Roboto;
      letter-spacing: -0.03em;
    }

    h3 {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      font: 500 1.7em/1.21053 Roboto;
      letter-spacing: 0.02em;
      color: var(--grayDark);
    }

    background: url(/assets/img/grid_img/MacBook__banner_.png);
    background-position: bottom;
  }

  & > :nth-child(2) {
    &::before {
      content: "";
      width: 100%;
      height: 120px;
    }

    h2 {
      font: 500 48px/1.125 Roboto;
      color: var(--black1);
      letter-spacing: -1px;
    }

    h3 {
      font: 300 24px/1.16667 Roboto;
      color: var(--black);
      margin: 0.6em 0;
      letter-spacing: 0.009em;
    }

    background: url(/assets/img/grid_img/iPhone13__banner_.jpg);
    background-position: center;
  }

  & > :nth-child(3) {
    &::before {
      content: "";
      width: 100%;
      height: 70px;
    }

    h2 {
      color: var(--white);
      font: 500 35px/1.21053 Roboto;
      letter-spacing: -0.04em;
    }

    h3 {
      font: 400 24px/1.16667 Roboto;
      color: var(--white);
      margin: 0.6em 0;
      letter-spacing: -0.02em;
    }

    background: url(/assets/img/grid_img/iPad__banner_.jpg);
    background-position: center;
  }

  & > :nth-child(4) {
    justify-content: flex-end;
    background: url(/assets/img/grid_img/Air_Pods__banner_.jpg);
    background-position: top;

    h2 {
      font: 500 48px/1.125 Roboto;
      color: var(--black1);
      letter-spacing: -1px;
    }

    h3 {
      font: 400 24px/1.16667 Roboto;
      color: var(--black);
      margin: 0.6em 0;
      letter-spacing: 0.009em;
    }

    &::after {
      content: "";
      width: 100%;
      height: 40px;
    }
  }

  & > :nth-child(5) {
    &::before {
      content: "";
      width: 100%;
      height: 75px;
    }

    h2 {
      font: 500 48px/1.125 Roboto;
      color: var(--white);
      letter-spacing: -1px;

      .fa-apple {
        transform: translateY(-3px);
      }
    }

    h3 {
      font: 400 24px/1.16667 Roboto;
      color: var(--white);
      margin: 0.6em 0;
      letter-spacing: 0.009em;
      text-align: center;

      max-width: 500px;
    }

    .links a {
      color: var(--green);

      &::after {
        background: var(--green);
      }

      .fa-arrow-right {
        transform: rotate(-45deg);
      }
    }

    background: url(/assets/img/grid_img/Katy_Perry__banner.jpg);
    background-position: center;
  }

  & > :nth-child(6) {
    &::before {
      content: "";
      width: 100%;
      height: 40px;
    }

    h2 {
      font: 500 30px/1.125 Roboto;
      color: var(--white);
    }

    h3 {
      font: 400 80px/1.125 Butterfly Kids;
      color: var(--white);
      letter-spacing: 1px;
      margin-top: 10px;
    }

    .links a {
      color: var(--white);

      &::after {
        background-color: var(--white);
      }
    }

    background: url(/assets/img/grid_img/Us_Movie__banner_.jpg);
    background-position: center;
  }

  .content {
    height: 60em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    cursor: pointer;
  }
}
