@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Butterfly+Kids&display=swap");
:root {
  --black: #000000;
  --black1: #252525;
  --grayDark: #333333;
  --grayDark1: #6e6e73;
  --grayDark2: #1D1D1F;
  --grayLight: #d6d6d6;
  --grayLight1: #f5f5f7;
  --grayLight2: #424245;
  --white: #ffffff;
  --blueDark: #06c;
  --blueLight: #2997ff;
  --red: #d03338;
  --green: #a6ff00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  list-style: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--grayLight);
}

.section {
  height: 56.25em;
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 106%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.m2-processor {
  height: 35px;
}

.links {
  text-align: center;
  margin-top: 12px;
}
.links a {
  font-size: 18px;
  color: var(--blueDark);
}
.links a:nth-child(2) {
  margin-left: 34px;
}
.links a:hover {
  text-decoration: underline;
}

.--light a {
  color: var(--blueLight);
}

header {
  height: 4em;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 999;
}
header .navbar__desktop {
  display: flex;
  justify-content: center;
  height: 100%;
}
header .navbar__desktop .navbar__list {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .navbar__desktop .navbar__list li {
  cursor: pointer;
  font-weight: 400;
  color: var(--grayLight);
  transition: 0.4s;
}
header .navbar__desktop .navbar__list li:hover {
  color: var(--white);
}

.navbar__mobile {
  display: none;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  height: 100%;
}
.navbar__mobile i {
  cursor: pointer;
  color: var(--grayLight1);
  position: -webkit-sticky;
  position: sticky;
}
.navbar__mobile .fa-apple,
.navbar__mobile .fa-xmark {
  font-size: 25px;
}
.navbar__mobile .fa-xmark {
  display: none;
}
.navbar__mobile .fa-bag-shopping,
.navbar__mobile .fa-bars {
  font-size: 18px;
}
.navbar__mobile .mobile__list {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  position: absolute;
  left: 0;
  top: 4em;
  background-color: var(--black);
  width: 100%;
  text-align: left;
  padding: 0 20px;
}
.navbar__mobile .mobile__list li {
  font: 300 16px/1.789 Roboto;
  color: var(--grayLight1);
  padding: 16px 0;
  cursor: pointer;
}
.navbar__mobile .mobile__list li:not(:last-child) {
  width: 100%;
  border-bottom: 1px solid var(--grayLight2);
}

.informations {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--grayLight1);
  height: 6em;
}
.informations .informations__content {
  display: flex;
  align-items: center;
  gap: 1.25em;
}
.informations .informations__content p {
  cursor: pointer;
  font-size: 14px;
  color: var(--blueDark);
  position: relative;
}
.informations .informations__content p i {
  transform: rotate(-45deg);
  padding: 0px 0.125em;
}

.section1 .background {
  background-image: url(../../img/iPhone13_Pro__large_.jpg);
}
.section1 .title {
  padding-top: 3.5em;
  text-align: center;
  z-index: 10;
}
.section1 .title h2 {
  font: 500 55px/1.125 Roboto;
  color: var(--black1);
  letter-spacing: -1px;
}
.section1 .title h3 {
  font: 400 28px/1.16667 Roboto;
  color: var(--black);
  margin: 10px 0 25px 0;
  letter-spacing: 0.009em;
}

.section2 .background {
  background-image: url(../../img/Apple_Watch__large_.jpg);
}
.section2 .title {
  padding-top: 5em;
  text-align: center;
  z-index: 10;
}
.section2 .title > :nth-child(2) {
  font: 500 20px/1.16667 Roboto;
  letter-spacing: 0.049em;
  color: var(--red);
}
.section2 .title h2 {
  font: 600 48px/1.0835 Roboto;
  color: var(--black1);
  letter-spacing: -0.002em;
}
.section2 .title h2 i {
  margin-right: 0.1em;
  transform: translateY(-3.4px);
}
.section2 .title h3 {
  font: 400 24px/1.16667 Roboto;
  color: var(--black);
  margin-top: 5px;
  letter-spacing: 0.009em;
}
.section2 .links {
  padding-top: 1em;
}

.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.section3 .background {
  background: url(../../img/MacBook__large.jpg);
  background-position: center;
}
.section3 .title h2,
.section3 .title h3 {
  text-align: center;
  color: var(--white);
}
.section3 .title h2 {
  font: 500 4em/1.125 Roboto;
  letter-spacing: -0.03em;
  padding-top: 1.1em;
  margin-bottom: 0.1em;
}
.section3 .title h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font: 400 1.7em/1.21053 Roboto;
  letter-spacing: 0.02em;
}
.section3 .title .links {
  padding-top: 0.75em;
}

.section4 {
  margin: 0 10px;
  height: 100%;
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 14px;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
}
.section4 > :nth-child(1) {
  background: url(../../img/grid_img/MacBook__banner_.png);
  background-position: bottom;
}
.section4 > :nth-child(1)::before {
  content: "";
  width: 100%;
  height: 120px;
}
.section4 > :nth-child(1) h2 {
  color: var(--black1);
  font: 500 4.2em/1.21053 Roboto;
  letter-spacing: -0.03em;
}
.section4 > :nth-child(1) h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font: 500 1.7em/1.21053 Roboto;
  letter-spacing: 0.02em;
  color: var(--grayDark);
}
.section4 > :nth-child(2) {
  background: url(../../img/grid_img/iPhone13__banner_.jpg);
  background-position: center;
}
.section4 > :nth-child(2)::before {
  content: "";
  width: 100%;
  height: 120px;
}
.section4 > :nth-child(2) h2 {
  font: 500 48px/1.125 Roboto;
  color: var(--black1);
  letter-spacing: -1px;
}
.section4 > :nth-child(2) h3 {
  font: 300 24px/1.16667 Roboto;
  color: var(--black);
  margin: 0.6em 0;
  letter-spacing: 0.009em;
}
.section4 > :nth-child(3) {
  background: url(../../img/grid_img/iPad__banner_.jpg);
  background-position: center;
}
.section4 > :nth-child(3)::before {
  content: "";
  width: 100%;
  height: 70px;
}
.section4 > :nth-child(3) h2 {
  color: var(--white);
  font: 500 35px/1.21053 Roboto;
  letter-spacing: -0.04em;
}
.section4 > :nth-child(3) h3 {
  font: 400 24px/1.16667 Roboto;
  color: var(--white);
  margin: 0.6em 0;
  letter-spacing: -0.02em;
}
.section4 > :nth-child(4) {
  justify-content: flex-end;
  background: url(../../img/grid_img/Air_Pods__banner_.jpg);
  background-position: top;
}
.section4 > :nth-child(4) h2 {
  font: 500 48px/1.125 Roboto;
  color: var(--black1);
  letter-spacing: -1px;
}
.section4 > :nth-child(4) h3 {
  font: 400 24px/1.16667 Roboto;
  color: var(--black);
  margin: 0.6em 0;
  letter-spacing: 0.009em;
}
.section4 > :nth-child(4)::after {
  content: "";
  width: 100%;
  height: 40px;
}
.section4 > :nth-child(5) {
  background: url(../../img/grid_img/Katy_Perry__banner.jpg);
  background-position: center;
}
.section4 > :nth-child(5)::before {
  content: "";
  width: 100%;
  height: 75px;
}
.section4 > :nth-child(5) h2 {
  font: 500 48px/1.125 Roboto;
  color: var(--white);
  letter-spacing: -1px;
}
.section4 > :nth-child(5) h2 .fa-apple {
  transform: translateY(-3px);
}
.section4 > :nth-child(5) h3 {
  font: 400 24px/1.16667 Roboto;
  color: var(--white);
  margin: 0.6em 0;
  letter-spacing: 0.009em;
  text-align: center;
  max-width: 500px;
}
.section4 > :nth-child(5) .links a {
  color: var(--green);
}
.section4 > :nth-child(5) .links a::after {
  background: var(--green);
}
.section4 > :nth-child(5) .links a .fa-arrow-right {
  transform: rotate(-45deg);
}
.section4 > :nth-child(6) {
  background: url(../../img/grid_img/Us_Movie__banner_.jpg);
  background-position: center;
}
.section4 > :nth-child(6)::before {
  content: "";
  width: 100%;
  height: 40px;
}
.section4 > :nth-child(6) h2 {
  font: 500 30px/1.125 Roboto;
  color: var(--white);
}
.section4 > :nth-child(6) h3 {
  font: 400 80px/1.125 Butterfly Kids;
  color: var(--white);
  letter-spacing: 1px;
  margin-top: 10px;
}
.section4 > :nth-child(6) .links a {
  color: var(--white);
}
.section4 > :nth-child(6) .links a::after {
  background-color: var(--white);
}
.section4 .content {
  height: 60em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background: var(--grayLight1);
  margin: 20px 0;
}
footer .footer__wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 10px;
  letter-spacing: -0.01em;
  color: var(--grayDark1);
}
footer .footer__wrapper .wrapper__text {
  border-bottom: 1.2px solid var(--grayLight);
}
footer .footer__wrapper .wrapper__text p {
  font: 400 13.5px/1.33337 Roboto;
  padding-bottom: 0.8em;
}
footer .footer__wrapper a:hover {
  text-decoration: underline;
}

.low__footer {
  width: 100%;
  padding: 25px 0;
}
.low__footer > :nth-child(2) {
  border-bottom: 1.2px solid var(--grayLight);
  padding-bottom: 8px;
}
.low__footer > :nth-child(3) {
  padding-top: 8px;
}
.low__footer .legal__links ul {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding-top: 8px;
}
.low__footer .legal__links ul li a {
  color: var(--grayDark1);
}
.low__footer .legal__links ul li a:hover {
  text-decoration: underline;
}
.low__footer .legal__links ul li:not(:last-child) {
  border-right: 1px solid var(--grayLight);
  padding-right: 20px;
}
.low__footer p {
  color: var(--grayDark1);
}
.low__footer p span {
  color: var(--blueLight);
  cursor: pointer;
}
.low__footer p span:hover {
  text-decoration: underline;
}

.footer__desktop {
  display: flex;
}
.footer__desktop nav {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 1.5em;
}
.footer__desktop .footer__column {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.footer__desktop .footer__column h2 {
  color: var(--grayDark2);
  padding: 0.8em 0;
}
.footer__desktop .footer__column i {
  display: none;
}
.footer__desktop .column {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.footer__desktop .column .box__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.7em;
}
.footer__desktop .column .box__links .--f__link {
  font: 400 12px/1.3337 Roboto;
  letter-spacing: -0.01em;
  color: var(--grayLight2);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.footer__mobile {
  display: none;
}
.footer__mobile nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 1.5em;
}
.footer__mobile .footer__column .column {
  border-bottom: 1.2px solid var(--grayLight);
  height: 30px;
  width: 100%;
  transition: all 0.19s ease-out;
}
.footer__mobile .footer__column .column.openClose {
  height: 100%;
}
.footer__mobile .footer__column .column h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0.6em 0;
  cursor: pointer;
}
.footer__mobile .footer__column .column h2 i {
  display: inline-block;
  margin-right: 5px;
}
.footer__mobile .footer__column .column .box__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.5em;
  transform: scaleY(0);
  transition: all 0.3s ease-out;
  transform-origin: top;
}
.footer__mobile .footer__column .column .box__links.box_in {
  transform: scaleY(1);
}
.footer__mobile .footer__column .column .box__links .--f__link {
  font: 400 12px/1.3337 Roboto;
  letter-spacing: -0.01em;
  color: var(--grayLight2);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
.footer__mobile .footer__column .column .box__links .--f__link:last-child {
  padding-bottom: 0.4em;
}

.low__footer .legal__links ul {
  justify-content: center;
}

@media screen and (max-width: 833px) {
  ::-webkit-scrollbar {
    width: 0;
  }
  header .navbar__desktop {
    display: none;
  }
  header .navbar__mobile {
    display: flex;
  }
  footer .footer__desktop {
    display: none;
  }
  footer .footer__mobile {
    display: flex;
  }
}
@media screen and (max-width: 734px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
  .section4 {
    margin: 0 5px;
    grid-template-columns: 12fr;
    grid-template-rows: 1fr;
  }
}/*# sourceMappingURL=main.css.map */